---
# tasks file for kubectl

- name: Ensure .kube directory exists for ubuntu user
  file:
    path: /home/ubuntu/.kube
    state: directory
    mode: '0700'
    owner: ubuntu
    group: ubuntu
  become: true

- name: Install required packages
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
    state: present
    update_cache: yes
  become: true

- name: Add Kubernetes GPG key
  ansible.builtin.shell: |
    curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key | \
    gpg --dearmor -o /usr/share/keyrings/kubernetes-archive-keyring.gpg
  args:
    creates: /usr/share/keyrings/kubernetes-archive-keyring.gpg
  become: true

- name: Add Kubernetes apt repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /"
    state: present
  become: true

- name: Install kubectl
  ansible.builtin.apt:
    name: kubectl
    state: present
    update_cache: yes
  become: true

- name: Ensure .kube directory exists for user
  ansible.builtin.file:
    path: /home/ubuntu/.kube 
    state: directory
    mode: '0700'
    owner: ubuntu
    group: ubuntu
  become: true